body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container{
    max-width: 80%;
}

.fillform{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parameterBox{
    display: flex;
    flex-direction: column;
}

#centerLabel{
    position: relative;
    top: -38px;
}

@media only screen and (max-width: 600px){
    
    #centerLabel{
        position: relative;
        top: 0px;
    }   
}